.hero {
   padding:35px 0 45px;
}

.hero-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
    align-items:center;
}

.hero-texto h1{
    margin:12px 0;
    font-size:2.0rem;
    line-height:1.2;
    color:var(--cor-secundaria);
}

.hero-texto p{
    font-size:0.9rem;
    margin-bottom:30px;
    color:#555;
}

.hero-tag{
    display:inline-block;
    color:var(--cor-primaria);
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1.5px;
    margin-bottom:10px;
}

.hero-imagem{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#FFF;
    padding:22px;
    max-width:360px;
    margin:auto;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.empresa{
    width:100%;
    text-align:center;
}

.logo-cury{
    width:100px;
    height:auto;
    margin:0 auto 18px;
}

.logo-riva{
    width:80px;
    height:auto;
    margin:0 auto 18px;
}

.empresa ul{
    list-style:none;
    padding:0;
    margin:0;
}

.empresa li{
    margin:8px 0;
    font-size:0.9rem;
    font-weight:500;
    color:#555;
}

.empresa p{
    margin:0;
    font-size:1rem;
    font-weight:500;
    color:#555;
}

.hero-imagem hr{
    width:100%;
    border:none;
    border-top:1px solid #E5E7EB;
    margin:18px 0;
}

@media (max-width:992px){
    .hero{
        min-height:auto;
        padding:60px 0;
    }

    .hero-container{
        grid-template-columns:1fr;
        gap:40px;
        text-align:center;
    }

    .hero-texto h1{
        font-size:2.2rem;
    }

}

@media (max-width:768px){
    .hero{
        padding:40px 0;
    }

    .hero-texto h1{
        font-size:1.9rem;
    }

    .hero-texto p{
        font-size:1rem;
    }

    .hero-imagem{
        padding:25px;
    }

    .logo-cury{
        width:120px;
    }

    .logo-riva{
        width:95px;
    }
}