.navbar{
    position:sticky;
    top:0;
    z-index:1000;
    background:#ffffff;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.navbar-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:70px;
}

.logo{
    font-size:1.6rem;
    font-weight:700;
    color:var(--cor-primaria);
}

.logo span{
    color:var(--cor-secundaria);
}

.menu{
    display:flex;
    align-items:center;
    gap:30px;
    list-style:none;
    margin:0;
    padding:0;
}

.menu a{
    font-size:.95rem;
    font-weight:600;
    color:var(--cor-secundaria);
    transition:.3s;
    text-decoration:none;
}

.menu a:hover{
    color:var(--cor-primaria);
}

@media (max-width:768px){

    .navbar-container{
        flex-direction:column;
        justify-content:center;
        height:auto;
        padding:15px 0;
    }

    .logo{
        margin-bottom:15px;
    }

    .menu{
    flex-wrap:wrap;
    justify-content:center;
    gap:18px;
}

}